.page__heading {
  text-align: center;
  color: #075eb0;
}
.bayan {
  margin: auto;
  width: 70%;
  padding: 0;
}

.box {
  margin: 1 0em;
  background-color: #313cbb;
  justify-content: center;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  color: #fff;
  overflow: hidden;
  border: 1px solid #fff;
}

.box input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.box label {
  text-align: center;
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #1b28b9;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.box-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  background: #075eb0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}

.box-content img {
  margin: 0 auto;
  display: block;
}
.box-content img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
p {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box-content p {
  margin: 0em;
}

.box input:checked ~ .box-content {
  max-height: 100vh;
}

.box label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.box input[type="checkbox"] + label::after {
  content: "+";
}
.box input[type="radio"] + label::after {
  content: "\25BC";
}
.box input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
}
.box input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
}
.box label:hover::after {
  opacity: 1;
}

.box label::after {
  opacity: 0;
  transition: all 0.35s;
}

.box input:hover + label::after {
  opacity: 1;
}

.box input:checked + label::after {
  opacity: 1;
}
